@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #161616;
  text-decoration: none;
}

.main {
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 13px;
}

.logo-container > a {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links > a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 10px;
}

.nav-links > a:hover {
  text-decoration: underline;
}

a.active-link {
  color: #ff8c38;
  text-decoration: underline;
}

.background-img {
  background-image: url("https://images.pexels.com/photos/11941821/pexels-photo-11941821.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
  /* background-image: url("./assets/img-1.jpeg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98vh;
  width: 100%;
  padding: 0 20px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.description {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
  color: #fff;
}

.btn {
  margin-top: 20px;
  width: 35%;
  padding: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: #eb8729;
  transition: all 0.5s;
}

.btn:hover {
  background: #000;
}

.btn > a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.home-content {
  padding: 15px 10px;
}

.about-container {
  padding: 5px 15px;
}

.aboutImg {
  padding-top: 5px;
}

.aboutImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.about-text {
  padding: 15px 10px;
}

.about-title {
  font-size: 30px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #000;
}

.about-desc {
  padding: 10px 0;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.about-box {
  background: #eb8729;
  margin-top: 10px;
  padding: 30px 20px;
  border-radius: 10px;
}

.box-text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}

.btn.about {
  background: #000;
  width: 160px;
}

.van-list-container {
  padding: 20px;
  min-height: 90vh;
}

.van-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;
}

.van-tile {
  width: 250px;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: ease-in-out 0.8s;
}

.van-tile:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.title.van {
  color: #eb8729;
  font-size: 35px;
  padding: 0px 0px 20px 13px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.van-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  margin: 5px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: #4d4d4d;
}

.van-type.clear-filters:hover,
.van-type.clear-filters.selected {
  background-color: #f28787;
  color: #ffead0;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.van-detail-container {
  padding: 25px;
  min-height: 90vh;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container > a{
  padding: 10px 0;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-top: 15px;
}

.van-type.details {
  margin: 15px 0;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
}

.host-nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.host-nav > a {
  color: #000;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

.host-nav > a:hover {
  color: #ff8c38;
  text-decoration: underline;
}

.host-van-container {
  padding: 20px;
  min-height: 90vh;
}

.host-van-container img{
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  border: 1px solid #000;
}

.host-van-container .rating{
  padding-bottom: 15px;
}

.host-van-container h3{
  padding: 10px 0;
}

.review{
  padding: 5px 10px;
  margin: 10px 0;
}

.review h3{
  padding: 5px 0;
}

.add-van {
  font-size: 20px;
  color: #fff;
}

.host-van-card {
  display: flex;
  align-items: center;
  margin: 20px 10px;
  overflow: hidden;
  transition: ease-in-out 0.8s;
  cursor: pointer;
}

.host-van-card:hover {
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.host-van-card img {
  width: 110px;
  height: 110px;
  /* border-radius: 2px; */
  object-fit: cover;
}

.host-van-card .info {
  padding-left: 15px;
}

.info h3 {
  padding: 5px 0;
  font-weight: bold;
}

.main-detail {
  margin: 10px;
}

.van-detail-shared-ui {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
}

.van-detail-shared-ui img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.shared-info {
  padding-left: 15px;
}

.shared-info h2 {
  padding: 10px 0;
  font-weight: bold;
}

.host-van-detail {
  padding: 10px;
  min-height: 90vh;
}

.host-van-detail > a {
  padding: 15px 10px;
}

.host-van-detail > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sudo-info {
  padding: 5px 20px;
}

.sudo-info > h3,
p {
  padding: 5px 0;
}

.normal {
  font-weight: 400;
}

.sudo-info > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
}

.img-box{
  max-width: 340px;
  overflow: hidden;
}

.img-box img{
  width: 100%;
}

.error-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.error-msg{
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  color: #161616;
}

.back-btn{
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #161616;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.back-btn:hover{
  background-color: #ff8c38;
  transform: translate3d(0, 10px, 0);
}

.loading{
  padding: 20px;
  font-size: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding-bottom: 10px;
}

.copyright {
  font-weight: 500;
  color: #333;
  padding: 10px 0;
}

.text {
  color: #666;
  font-size: 15px;
}

@media (max-width: 649px) {
  .btn {
    width: 100%;
  }
}
