@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv12lD9JuCnb4dHfj5gITNBdJDysr3sEBp_-T8CcdbJg&usqp=CAU&ec=48665698");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  font-family: 'Bruno Ace', cursive;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 10px 0;
  color: dodgerblue;
  font-size: 60px;
}

h2 {
  padding: 10px 0;
  color: #f4eff4;
  font-size: 30px;
}

p {
  color: #f4eff4;
  font-size: 23px;
  padding: 22px 25px;
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-weight: bold;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  width: 170px;
}

span{
  text-decoration: underline;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 10px 0; */
}

#increment-btn {
  background: orange;
}

#save-btn {
  background: green;
}

#decrement-btn {
  background: red;
}

#error-btn{
  background: #111;
}

#error{
  color: red;
}

#calc-btn{
  color: #fff;
  background: rgb(28, 28, 53);
  border: 1px solid #eee;
  width: 100px;
}

#sum-el{
  color: #f4eff4;
  margin-bottom: 15px;
}