.home{
    display: flex;
}

.productConatiner{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}

.filters > span{
    padding: 10px 0;
    display: flex;
}

.title{
    font-size: 25px;
}