@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

header {
  padding: 10px 13px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.title {
  color: aliceblue;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 0;
  /* display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between; */
}

/* .title span{
  font-size: 15px;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  margin: 5px 0;
}

.form-box{
  margin: 5px;
}

.input {
  margin: 15px 0;
  display: flex;
}

.input input{
  padding: 10px 8px;
  outline: none;
  border: 1px solid #833ab4;
  border-radius: 5px;
  margin: 3px;
}

.btn {
  width: 100%;
  padding: 8px 0;
  margin: 5px 0;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: aliceblue;
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  cursor: pointer;
}

.img-container{
  width: 89%;
  margin: 20px 0 10px 0;
  position: relative;
}

.meme--img{
  max-width: 100%;
  width: 350px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}