<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <form method="post">
        <h3>Register Now</h3>
        <input
          type="text"
          name="name"
          placeholder="Enter name"
          value="<%=locals.name%>"
        />
        <input
          type="email"
          name="email"
          placeholder="Enter email"
          value="<%=locals.email%>"
        />
        <input
          type="password"
          name="password"
          placeholder="Enter password"
          value="<%=locals.password%>"
        />
        <p><%=locals.error%></p>
        <button type="submit">Register</button>
      </form>
    </main>
    <script src="script.js"></script>
  </body>
</html>
